$bg: #0b0320;
$bg2: #f0f1f3;

$divBg: #d3307d;
$divBgOpacity: rgba(211, 48, 125, 0.2);
$divBgOpacity2: rgba(211, 48, 125, 0.3);

$fontColor: #1a17a6;
$linkColor: #5f38a8;
$linkHoverColor: #fff;

$errColor: red;

$divBorderColor: #d3307d;

$walletBtnBg: #ffffff;
$walletBtnColor: #5f38a8;
$walletBtnOutline: rgba(62, 112, 231, 0.5);

$inputBorder: #d3307d;

$btnBg: #d3307d;
$btnBg2: #5f38a8;
$btnFontColor: #fff;
$btnBoxShadow: rgba(255, 255, 255, 0.2);

$btnBoxShadow-sushi: rgb(226, 214, 207);
$btnBoxShadow-sushi-2: rgb(247, 244, 242);

$titColor: #fff;
$txtColor: #ead8e2;
$notesColor: #9492c4;

$tableSeparationColor: #222946;
